@font-face {
    font-family: PTSans;
    src: url("../fonts/PTS55F.ttf");
}
@font-face {
    font-family: PTSansBold;
    src: url("../fonts/PTS75F.ttf");
}
@font-face {
    font-family: OpenSansCondensed;
    src: url("../fonts/OpenSans-CondLight.ttf");
}
@font-face {
    font-family: OpenSansCondensedBold;
    src: url("../fonts/OpenSans-CondBold.ttf");
}


/* ============================================ *
 * HEADER STYLES
 * ============================================ */
.wrapper .page .page-header {
    max-width: inherit;
    padding: 0;
}
header {
    background: #f2f2f2;
}
header .page-header-top{
    background: #000;
}
header .page-header-top .top-store {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
header .page-header-top .top-store > p {
    font-family: "PTSans", Arial, sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 35px;
    letter-spacing: 2px;
    display: inline-block;
    padding-left: 10px;
}
header .page-header-bottom {
    background-color: #f2f2f2;
}
header .page-header-bottom .page-header-container {
    max-width: 1200px;
    margin: 0 auto;
}


/* == STYLE TOP-NAV == */
.page-header-top .top-store .top-nav a {
    color: #fff;
}
div.top-store ul.top-nav {
    position: absolute;
    top: -1px;
    right: 70px;
    float: right;
}
div.top-store ul.top-nav li {
    float: left;
    margin: 7px;
}
div.top-store ul.top-nav li a {
    font-family: "PTSansBold",Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
}
div.top-store ul.top-nav li a i {
    font-size: 17px;
    line-height: 13px;
}

/* == STYLE ACCOUNT CART == */
header .skip-links .skip-link {
    background-color: transparent;
    border: none;
}
.top-store .skip-links .skip-link {
    background-color: transparent;
    height: auto;
    line-height: 35px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.top-store .skip-links .skip-link:not(.skip-active):hover {
    opacity: initial;
}
.account-cart-wrapper .header-minicart .skip-cart .icon {
    display: none;
}
.account-cart-wrapper .header-minicart .skip-cart .label {
    padding: 0;
    font-family: "PTSansBold", Arial, sans-serif;
    font-size: 10px;
    line-height: 1.6em;
    letter-spacing: 1px;
}
.account-cart-wrapper .header-minicart .skip-cart.no-count .count {
    display: inline-block;
    color: #fff;
}
.account-cart-wrapper .header-minicart  .skip-cart .count,
.account-cart-wrapper .header-minicart .skip-link.skip-active .count {
    color: #fff;
}
.account-cart-wrapper .skip-account {
    padding: 0;
    display: none;
}
.skip-links .account-cart-wrapper span {
    font-family: "PTSansBold", Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
}
.page-header-container #header-account.skip-active {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #000;
    background: #fff;
}
.header-minicart #header-cart.skip-active {
    border: 1px solid #000;
    top: 35px;
    width: 280px;
}
.account-cart-wrapper .header-minicart .minicart-wrapper {
    text-align: center;
    min-height: 150px;
    text-transform: none;
}
.header-minicart .minicart-wrapper .empty {
    color: #555;
    font-family: "OpenSansCondensed", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height:0.5em;
    padding: 10px 15px;
}
.header-minicart .minicart-wrapper {
    padding-bottom: 30px;
}
.header-minicart #header-cart .block-subtitle .close {
    width: 80px;
    bottom: 15px;
    right: 100px;
    top: initial;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 10px;
    color: #000;
    opacity: 1;
}
.header-minicart #header-cart i {
    margin-right: 5px;
}
.header-minicart #header-cart .block-subtitle .close:hover {
    text-decoration: underline;
}
.header-minicart .block-subtitle .close a {
    display: inline;
    color: #000;
}
.header-minicart .minicart-wrapper .empty > div {
    margin: 20px auto;
}
.header-minicart .minicart-wrapper .button {
    background-color: #999;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}
.header-minicart .minicart-wrapper .minicart-actions .cart-link {
    height: inherit;
    line-height: inherit;
}
.header-minicart .minicart-wrapper .minicart-actions .checkout-button {
    background: #000;
}
.header-minicart .minicart-wrapper .minicart-actions {
    padding: 10px 15px;
}
.minicart-wrapper .mini-products-list .product-image {
    float: right;
    border: none;
}
.mini-products-list .product-image img {
    width: 100px;
    height: 100px;
}
.minicart-wrapper .mini-products-list .product-details {
    margin: 0 110px 0 0;
    text-align: left;
}
.account-cart-wrapper .header-minicart .product-details .product-name a {
    color: #000;
}
.mini-products-list .product-details .product-name:hover {
    text-decoration: underline;
}
.account-cart-wrapper .header-minicart .info-wrapper th {
    display: none;
}
.account-cart-wrapper .header-minicart .info-wrapper tr {
    float: right;
}
.header-minicart .info-wrapper tr .input-text {
    border: none;
    font-size: 12px;
}
.product-details .info-wrapper td .price {
    line-height: 34px;
    color: #555;
}
.product-details .info-wrapper td .price:before {
    content: "x";
    margin: 0 5px 0 0;
}
.mini-products-list .product-details a,
.mini-products-list .product-details a:hover {
    color: #555;
}
.mini-products-list .product-details .remove {
    position: absolute;
    top: 0;
    right: -125px;
    font-size: 10px;
}
.mini-products-list .product-details .btn-edit {
    display: none;
}
.header-minicart .minicart-wrapper .block-content {
    display: none;
}

/* == STYLE LOGO == */
div.account-cart-wrapper a:focus,
div.account-cart-wrapper a:hover {
    color: #fff;
}
.page-header-bottom .page-header-container .logo {
    text-align: left;
    min-height: initial;
    margin: 0 auto;
    width: 15%;
}
.page-header-bottom .page-header-container .logo:hover {
    opacity: initial;
}
.page-header-bottom .page-header-container .logo h1 {
    margin-bottom: 0;
}
.logo h1 a{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 33px;
    color: #222;
    font-weight: bold;
}
.logo h1 a:hover {
    text-decoration: none;
}

/*!* == STYLE HEADER-NAV == *!*/
.page-header-bottom .page-header-container div#header-nav {
    border: none;
    float: right;
    margin-top: 5px;
}
.page-header-container .skip-content .nav-primary {
    margin-top: 0;
}
.page-header-container .skip-content .nav-primary  a {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 15px;
    color: #333;
    padding: 15px;
    line-height: initial;
    text-transform: uppercase;
}
.page-header-container .skip-content .nav-primary a:hover {
    background: #f2f2f2;
}
.page-header-container .nav-primary li.level0 ul {
    background: #f2f2f2;
    border: none;
    top: 44px;
    padding: 15px;
    min-width: 200px;
    width: initial;
    text-align: left;
}
.page-header-container .nav-primary li.level0 ul li a {
    padding: 5px 15px;
    border-bottom: none;
    font-size: 0.9em;
}
.page-header-container .nav-primary li.level0 ul li a:hover {
    text-decoration: underline;
    color: #666;
}

/* == Style Search == */
header .page-header-container .mysearch-header {
    float: right;
    background: transparent url('../images/search-icon.png') no-repeat center center;
    background-size: 14px 14px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    width: 5%;
    height: 60px;
    cursor: pointer;
    display: inline-block;
}
.page-header-container #header-search {
    display: none;
    padding: 0;
    position: fixed;
    top: 95px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,.85);
}
.page-header-container #header-search .search-close {
    background: transparent url("../images/button-close-white.png") no-repeat center center;
    width: 20px;
    height: 20px;
    z-index: 9995;
    cursor: pointer;
    position: absolute;
    right: 13%;
    top: 13px;
}
.page-header-container #header-search form {
    width: 65%;
    position: relative;
    top: 50px;
    margin: 0 auto;
}
.page-header-container #header-search .input-text {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}
.page-header-container #header-search .input-text:focus {
    border: none;
    border-bottom: 1px solid #fff;
}
#header-search .input-box button {
    top: -10px;
    right: -70px;
    width: 50px;
}
#header-search #search_mini_form .search-button:before {
    background: none;
}
#header-search #search_mini_form .search-autocomplete:before {
    border-bottom: none;
}


/* ============================================ *
 * FOOTER STYLES
 * ============================================ */
.wrapper .page .footer-container{
    width: inherit;
    max-width: none;
    padding: 0;
}
.wrapper .page .footer-container .footer {
    border-top: none;
    padding-top: 0;
}
/*== Style .top-footer ==*/
.footer-container .footer .top-footer {
    background: #f2f2f2;
}
.footer-container .footer .top-footer .row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
}
/*== Style .footer-title-content ==*/
.footer .top-footer .row .col-sm-7 {
    width: 65%;
}
.footer-container .footer p.footer-title-content {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

/* == Style Subscribe == */
.footer-container .footer .block-subscribe {
    width: 100%;
    margin-bottom: 0;
    float: right;
}
.footer .top-footer .row .col-sm-5 {
    padding: 0;
    width: 35%;
}
.footer-container .footer .block-subscribe .block-content {
    margin-top: 0;
    padding-top: 0;
}
.footer-container .footer .block-subscribe .input-box {
    width: 75%;
}
.footer-container .footer .block-subscribe .actions{
    width: 25%;
}
.footer-container .footer .block-subscribe .actions .button {
    width: 100%;
    height: 49px;
    border-radius: 0 4px 4px 0;
    background: #000;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 15px;
}
.footer-container .footer .block-title{
    display: none;
}
.footer-container .footer .block-subscribe .input-text {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 11px;
    line-height: 49px;
    color: #999;
    height: 49px;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px;
    text-indent: 20px;
}

/*== Style.footer-title ==*/
.footer .text-footer-left {
    text-transform: uppercase;
    font-family: "OpenSansCondensed", Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #000;
}

/*== Style.footer-menu ==*/
.footer-container .footer .footer-menu {
    background: #000;
    overflow: hidden;
    margin-bottom: 41px;
}
.footer .footer-menu ul {
    text-align: center;
}
.footer .footer-menu ul li {
    display: inline-block;
    padding: 4px 0;
}
.footer .footer-menu ul li a {
    height: 19px;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    padding: 5px 9px;
    text-transform: uppercase;
    text-align: center;
}

/*== Style .footer-widgets ==*/
.footer-container .footer .footer-widget .row {
    margin: 0;
}
.footer-container .footer .footer-widget {
    max-width: 1200px;
    margin: 0 auto;
}
.footer .footer-widget .footer-widget-1 {
    position: relative;
    display: inline-block;
}
.footer-widget .footer-widget-1 img {
    width: 100%;

}
.footer-widget .footer-widget-1 .overlay {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.footer-widget-1 .overlay h4{
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin-bottom: 2px;
}
.footer-widget-1 .overlay p {
    font-family: "PTSans", Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}
.footer .footer-widget h3 {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    background: #f2f2f2;
}
.footer .footer-widget .textwidget {
    position: relative;
}
.footer-widget-2 .textwidget p{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    margin-bottom: 15px;
}
.footer-widget .footer-widget-3 h3 {
    text-align: right;
}

/*== Style copyright ==*/
.footer-container .footer address {
    padding: 0;
    color: #999;
    border-top: none;
    font-family: "PTSans", Arial, sans-serif;
    font-weight: 300;
    font-size: 9px;
    line-height: 1.5em;
}
.footer-container .footer address img {
    width: 127px;
    height:20px;
    margin: 0 auto 28px auto;
}
.footer-widget-3 .col-sm-3,.footer-widget-3 .col-xs-3 {
    padding: 0 7px;
    float: none;
    display: inline-block;
    height: 55px;
    text-align: center;
    width: 23.5%;
}
.footer-widget-3 .col-sm-3 img, .footer-widget-3 .col-xs-3 img {
    vertical-align: middle;
    width: 100%;
    display: inline-block;
}


/* ============================================ *
 * MAIN STYLES
 * ============================================ */
body.cms-home .main-container {
    /*margin-top: 75px;*/
    padding: 0;
    width: inherit;
    max-width: none;
}
.page .main-container.col1-layout {
    padding: 96px 0 0 0;
    max-width: none;
}
.page .main-container.col2-left-layout, .page .main-container.col2-right-layout,
.page .main-container.col3-layout {
    padding-top: 120px;
}
/*== STYLE SLIDESHOW ==*/
.fotorama__wrap.fotorama__wrap--css3.fotorama__wrap--slide.fotorama__wrap--toggle-arrows.fotorama__wrap--no-controls {
    margin: 0 auto;
}
.main .col-main .std {
    position: relative;
}
.main .std .slideshow {
    margin: 0 auto;
}
.main .std .slideshow .fotorama__nav-wrap {
    display: none;
}
.main .std .slideshow .fotorama__arr {
    background: none;
}
.main .std .slideshow .fotorama__arr--prev {
    left: 25px;
    background: url("../images/left.png") no-repeat;
}
.main .std .slideshow .fotorama__arr--next {
    background: url("../images/right.png") no-repeat;
}

/*== #Home banner info - CMS Static Block ==*/
.main .std .banner-info {
    display: inline-block;
    max-width: 400px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
    text-align: center;
}
.std .banner-info h4, .std .banner-info h3 {
    font-family: "OpenSansCondensedBold", Arial,sans-serif;
    color: #fff;
    font-weight: 800;
}
.std .banner-info h4 {
    font-size: 26px;
    line-height: 26px;
}
.std .banner-info h3 {
    font-size: 48px;
    line-height: 48px;
    margin: 9px 0 29px 0;
}
.std .banner-info p {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 32px;
}
.std .banner-info a.button{
    text-decoration: none;
    background: #fff;
    color: #000;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.std .banner-info a.button:hover {
    background: #000;
    color: #fff;
}

/*== #Home shopping reasons - CMS Static Block ==*/
.shopping-reasons {
    background: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    margin-top: 3px;
}
.std .shopping-reasons p {
    display: inline;
    text-transform: uppercase;
    font-family: "PTSans", Arial, sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    margin: 0 7px;
}

/*== .Home Latest Sneaker Launches ==*/
.col-main .std .latest-sneaker-launches {
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto 20px auto;
}
.latest-sneaker-launches .widget-title h2 {
    text-align: center;
    font-family: "OpenSansCondensedBold",Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin: 60px 0 40px 0;
}
.latest-sneaker-launches .row {
    margin: auto 0;
    list-style: none;
}
.latest-sneaker-launches .row .col-sm-2 {
    padding: 0;
    margin: 0 calc(100% / 6 / 10);
    background-color: lightblue;
}
.latest-sneaker-launches .row .col-sm-2 .product-img {
    position:relative;
    margin: 0 auto;
}
.latest-sneaker-launches .row .col-sm-2 .product-img img {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
       -moz-transition: opacity 0.01s ease-in-out;
         -o-transition: opacity 0.01s ease-in-out;
            transition: opacity 0.01s ease-in-out;
}
.latest-sneaker-launches .row .col-sm-2 .product-img img.top:hover {
    opacity:0;
}
.latest-sneaker-launches li a {
    text-decoration: none;
}
.latest-sneaker-launches li .product-info {
    position: relative;
    top: 150px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
    opacity: 0;
    -webkit-transition: all .45s cubic-bezier(.25,.46,.45,.94);
       -moz-transition: all .45s cubic-bezier(.25,.46,.45,.94);
         -o-transition: all .45s cubic-bezier(.25,.46,.45,.94);
            transition: all .45s cubic-bezier(.25,.46,.45,.94);
    -webkit-transform: translate(0px, 20px);
       -moz-transform: translate(0px, 20px);
         -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
    text-align: center;
}
.latest-sneaker-launches li:hover .product-info {
    opacity: 1;
    padding-top: 0;
}
.latest-sneaker-launches li .product-info h3 {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 12px;
    color: #999999;
}
.latest-sneaker-launches .product-info .price-box .price {
    font-family: "PTSans", Arial, sans-serif;
    color: #999;
    font-size: 12px;
}

/*== #Home News product - CMS Static Block  ==*/
.col-main .std .new-products {
    max-width: 1200px;
    margin: 0 auto 20px auto;
}
.std ul.products-grid {
    overflow: hidden;
}

.std ul.products-grid li {
    list-style: none;
    margin-left: 0;
    height: 250px;
}
.std ul.products-grid li .product-info {
    padding-bottom: 0 !important;
    min-height: 0 !important;
}
.new-products  .widget-title h2{
    text-align: center;
    font-family: "OpenSansCondensedBold",Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin: 60px 0 40px 0;
}
.new-products .widget-products a {
    border: none;
}
.new-products .widget-products div.product-info {
    padding-bottom: 0;
    width: 100%;
    padding-top: 20px;
    opacity: 0;
    -webkit-transition: all .45s cubic-bezier(.25,.46,.45,.94);
       -moz-transition: all .45s cubic-bezier(.25,.46,.45,.94);
         -o-transition: all .45s cubic-bezier(.25,.46,.45,.94);
            transition: all .45s cubic-bezier(.25,.46,.45,.94);
    -webkit-transform: translate(0px, 20px);
       -moz-transform: translate(0px, 20px);
         -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
}
.new-products .widget-products ul li:hover div.product-info {
    opacity: 1;
    padding-top: 0;
}
.new-products .products-grid .product-name, .new-products .products-list .product-name {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 12px;
    color: #999999;
}
.product-info .price-box .price {
    font-family: "PTSans", Arial, sans-serif;
    color: #999;
    font-size: 12px;
}

/*== #Home Feature Holder - CMS Static Block ==*/
.feature-holder {
    overflow: hidden;
}
.feature-holder .row {
    margin: 0;
}
.feature-holder .row .col-sm-4,
.feature-holder .row .col-xs-12 {
    padding: 0;
}
.feature-holder .row .col-md-4 img{
    width: 100%;
}
.feature-holder .content-feature-holder {
    text-align: center;
    width: 100%;
    color: #000;
    padding: 3.5em 0;
    margin-bottom: 1.5%;
}
.feature-holder .content-feature-holder a {
    text-decoration: none;
}
.feature-holder .content-feature-holder a p {
    text-transform: uppercase;
    font-family: "PTSansBold", Arial, sans-serif;
    font-size: 11px;
    line-height: 1.6em;
    letter-spacing: 1px;
    color: #0a0a0a;
    padding: 0 20px;
    margin: 0;
}
.feature-holder .content-feature-holder a h3 {
    height: 120px;
    text-transform: uppercase;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 32px;
    color: #0a0a0a;
    padding: 0 20px;
    -webkit-transition: font-size 2s ease-in;
       -moz-transition: font-size 2s ease-in;
         -o-transition: font-size 2s ease-in;
            transition: font-size 2s ease-in;
}

/* == Image transition zoom == */
.mg-image {
    width: 96%;
    overflow: hidden;
    margin: 0 auto;
}
.mg-image img {
    -webkit-transition: all 2s ease-in; /* Safari and Chrome */
       -moz-transition: all 2s ease-in; /* Firefox */
         -o-transition: all 2s ease-in; /* Opera */
            transition: all 2s ease-in;
    max-width: 100%;
}
.mg-image:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
       -moz-transform:scale(1.1); /* Firefox */
        -ms-transform:scale(1.1); /* Opera */
         -o-transform:scale(1.1); /* IE 9 */
            transform:scale(1.1);
}

.col-md-4:hover .content-feature-holder a h3 {
    font-size: 38px;
    -webkit-transition: font-size 2s linear;
       -moz-transition: font-size 2s linear;
         -o-transition: font-size 2s linear;
            transition: font-size 2s linear;
}
.main-container .main .col-main .category-title {
    display: none;
}

/* STYLE CATAGORY COL1-LAYOUT*/
.main-container .main .category-image {
    border: none;
    padding: 0;
    overflow: hidden;
    background: #e5e5e5;
    margin-bottom: 0;
}
.main .col-main .category-image img {
    float: right;
    height: 190px;
    width: initial;
}
.main .col-main .category-description {
    position: absolute;
    top: 15%;
    left: 12%;
}
.main .col-main .category-description h3 {
    max-width: 60%;
    font-family:"OpenSansCondensedBold", arial, sans-serif ;
    font-size: 28px;
    color: #222;
    text-transform: none;
}
.main .col-main .category-description p {
    max-width: 60%;
    font-family: "PTSans", arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #0a0a0a;
}
.main .col-main .info-category {
    position: relative;
}
.main .col-main .info-category:after {
    clear: both;
}
.main .col-main .content-product-list {
    max-width: 1200px;
    margin: 0 auto;
}
.col-main .content-product-list .category-products {
    width: 80%;
    float: right;
}
.col-main .content-product-list .sidebar {
    width: 15%;
    float: left;
    background-color: #f7f8f9;
    border-left: 1px solid #d1d4d6;
    border-right: 1px solid #d1d4d6;
    border-bottom: 1px solid #d1d4d6;
    text-align: center;
    padding-top: 30px;
}
.content-product-list .sidebar .toolbar {
    margin-top: 0;
    margin-bottom: 29px;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: center;
    line-height: 0;
    font-size: 0;
}
.content-product-list .sidebar .toolbar .sorter {
    float: none;
    margin: 0;
    display: inline-block;
}
.toolbar > .sorter > .view-mode .list {
    background: url("../images/ico-grid-small.png") no-repeat center center;
    background-size: 100%;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.toolbar > .sorter > .view-mode a.list:hover {
    background-position: 0;
}
.toolbar > .sorter > .view-mode .grid {
    margin-right: 10px;
    background: url("../images/ico-grid-big.png") no-repeat center center;
    background-size: 100%;
    width: 14px;
    height: 14px;
}
.toolbar > .sorter > .view-mode a.grid:hover {
    background-position: 0;
}
.content-product-list .block.block-layered-nav .block-content {
    margin-top: 0;
}
.content-product-list .block.block-layered-nav a {
    color: #000;
}
.block.block-layered-nav .block-content > dl > dt {
    border: none;
    border-top: 1px solid #d1d4d6;
    border-bottom: 1px solid #d1d4d6;
    background: #f2f2f2;
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 14px;
    color: #000;
}
.block.block-layered-nav .block-content > dl > dt:hover {
    background: #f2f2f2;
}
.block.block-layered-nav .block-content > dl > dd {
    border: none;
}
.block-layered-nav dl dd ol > li > a .count,
.block-layered-nav dl dd ol > li {
    font-family: "PTSans", Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    color: #999;
}
.block-layered-nav dl dd ol > li > span, .block.block-layered-nav dl dd ol > li > a {
    font-family: "PTSans", Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    color: #000;
    letter-spacing: 1px;
}
.category-products ul li .product-image {
    border: none;
}
.category-products ul li div {
    padding: 0;
    min-height: 0;
}
.content-product-list .category-products {
    padding-top: 39px
}
.category-products li .product-info-list {
    position: relative;
    top: 0px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
    opacity: 0;
    -webkit-transition: all .45s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all .45s cubic-bezier(.25,.46,.45,.94);
    -o-transition: all .45s cubic-bezier(.25,.46,.45,.94);
    transition: all .45s cubic-bezier(.25,.46,.45,.94);
    -webkit-transform: translate(0px, 20px);
    -moz-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
    -ms-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    text-align: center;
}
.category-products li:hover .product-info-list {
    opacity: 1;
    padding-top: 0;
}
.category-products li .product-info-list h2 {
    font-family: "OpenSansCondensedBold", Arial, sans-serif;
    font-size: 12px;
    color: #999999;
}
.category-products .product-info-list .price-box .price {
    font-family: "PTSans", Arial, sans-serif;
    color: #999;
    font-size: 12px;
}
.ajax-loader-product {
    display: none;
    font-size: 16px;
    clear: both;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}



/* ============================================ *
 * STYLES SCREEN MAX-WIDTH 1200px
 * ============================================ */
@media only screen and (max-width: 1200px) {
    .page-header-container .skip-content .nav-primary a.level0 {
        padding: 14px 10px;
        font-size: 14px;
    }
    header .page-header-container .mysearch-header {
        border: none;
    }
    .main .std .banner-info {
        top: 30px;
        left: 50px;
    }

}

/* ============================================ *
 * STYLES SCREEN MIN-WIDTH 961px
 * ============================================ */
@media only screen and (min-width: 961px) {

}

/* ============================================ *
 * STYLES SCREEN MAX-WIDTH 960px
 * ============================================ */
@media only screen and (max-width: 960px) {
    header .page-header-container {
        text-align: center;
    }
    .page-header-bottom .page-header-container .logo {
        max-width: initial;
        text-align: center;
        width: 100%;
        padding: 0;
        float: none;
    }
    header .page-header-container .logo h1 a {
        font-size: 30px;
    }
    header .page-header-container .logo h1 a:focus {
        outline-offset: 0;
    }
    .page-header-bottom .page-header-container div#header-nav {
        float: none;
        margin-top: 0;
    }
    header .page-header-container .mysearch-header {
        float: none;
        vertical-align: top;
        height: 50px;
    }
    .page-header-container #header-search {
        top: 129px;
    }
    .page .main-container.col1-layout {
        padding-top: 122px;
    }
    .page .main-container.col2-left-layout, .page .main-container.col2-right-layout,
    .page .main-container.col3-layout {
        padding-top: 150px;
    }
}

/** ============================================ **/
/** STYLES SCREEN MAX-WIDTH 830px - PHONE **/
/** ============================================ **/
@media only screen and (max-width: 830px) {
    .main .std .banner-info {
        top: 15px;
        left: 20px;
    }
}

/** ============================================ **/
/** STYLES SCREEN MIN-WIDTH 771px - PHONE **/
/** ============================================ **/
@media only screen and (min-width: 771px) {
    header .page-header-bottom .page-header-container .skip-links {
        display: none;

    }
    .page-header-bottom .page-header-container div#header-nav {
        display: inline-block;
    }
    .nav-primary li.parent > a:after {
        content: '';
        width: 0;
        height: 0;
        display: inline-block;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
        border-bottom: none;
        vertical-align: middle;
        margin-left: 5px;
    }
}

/** ============================================ **/
/** STYLES SCREEN MAX-WIDTH 770px - TABLET  **/
/** ============================================ **/
@media only screen and (max-width: 770px) {
    /* == STYLE PAGE HEADER TOP == */
    div.top-store {
        text-align: center;
        min-height: 65px;
    }
    div.top-store ul.top-nav {
        text-align: center;
        margin: 0 75px 0 0;
        top: 30px;
    }
    .page-header-top .top-store .skip-links {
        margin-top: 34px;
        border: none;
    }

    /* ==  MiniCart == */
    .page-header-top .top-store .skip-links .skip-link {
        width: 7%;
        border: none;
    }
    .account-cart-wrapper .header-minicart a {
        position: absolute;
        top: 31px;
        right: 90px;
    }
    .account-cart-wrapper .header-minicart .skip-link.skip-active {
        background: transparent;
    }
    .account-cart-wrapper .header-minicart .skip-cart .count {
        background: none;
        top: 0;
    }
    .account-cart-wrapper .header-minicart .skip-cart .count:before {
        content: "(";
    }
    .account-cart-wrapper .header-minicart .skip-cart .count:after {
        content: ")";
    }
    .account-cart-wrapper .header-minicart #header-cart {
        display: none;
    }

    /* == STYLE PAGE HEADER BOTTOM == */
    .page-header-bottom .page-header-container .logo {
        width: 80%;
        display: inline-block;
    }
    header .page-header-container .mysearch-header {
        width: 5%;
        height: 45px;
    }
    .page-header-container #header-search {
        top: 112px;
    }
    .page-header-container #header-search form {
        width: 65%;
    }
    .page-header-bottom .page-header-container .skip-links {
        display: inline-block;
        float: left;
        width: 10%;
        border: none;
        margin-left: 1%;
    }
    .page-header-bottom .page-header-container .skip-links .skip-nav .icon {
        background: none;
        text-indent: initial;
        color: #000;
        font-size: 30px;
        vertical-align: top;
    }
    .page-header-bottom .page-header-container .skip-links .skip-nav .label {
        display: none;
    }
    .skip-content.skip-active .nav-primary li.parent > a:after {
        border: none;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f078";
        color: #666;
        font-size: small;
        left: initial;
        right: 20px;
    }
    .page-header-bottom .page-header-container .skip-content.skip-active {
        background-color: #f2f2f2;
    }
    .page-header-container .skip-content .nav-primary a:hover {
        text-decoration: underline;
    }
    .page-header-container .nav-primary li.level0 ul li a {
        border-bottom: 1px solid #ccc;
    }
    .page-header-container .skip-content .nav-primary {
        padding-top: 7%;
    }
    .nav-close, .nav-home{
        height: 30px;
        width: 30px;
        display: inline-block;
        background: #999;
        color: #fff;
        border-radius: 3px;
        vertical-align: middle;
        cursor: pointer;
        font-size: 20px;
    }
    .nav-close {
        float: left;
        margin-left: 2%;
    }
    .nav-close:before {
        font-family: FontAwesome;
        content: "\f00d";
    }
    .nav-home {
        float: right;
        margin-right: 1%;
    }
    .nav-home:before {
        font-family: FontAwesome;
        content: "\f015";
    }
    .page-header-container .nav-primary li.level0 ul {
        padding: 1%;
    }

}



/** ============================================ **/
/** STYLES SCREEN MAX-WIDTH 767px - PHONE **/
/** ============================================ **/
@media only screen and (max-width: 767px) {
    header .page-header-top .top-store > p {
        display: none;
    }
    div.top-store ul.top-nav {
        display: none;
    }
    .account-cart-wrapper .header-minicart a {
        position: initial;
    }
    .page-header-top .top-store .skip-links {
        margin: 0;
    }
    header .page-header-top {
        display: inline-block;
        float: right;
        width: 10%;
        background-color: #f2f2f2;
    }
    header .page-header-bottom {
        display: inline-block;
        width: 90%;
    }
    .page-header-top .top-store .skip-links .skip-link {
        width: 100%;
    }
    .account-cart-wrapper .header-minicart .skip-cart .label {
        display: none;
    }
    .account-cart-wrapper .header-minicart  .skip-cart .count {
        background: url("../images/bag.png") no-repeat center center;
        background-size: 100%;
        text-align: center;
        width: 30px;
        min-width: 0;
        height: 30px;
        font: bold 14px/33px 'Open Sans Condensed', arial, sans-serif;
        padding: 0;
        border-radius: 0;
        margin: 5px 0;
    }
    .account-cart-wrapper .header-minicart .skip-cart .count:before {
        display: none;
    }
    .account-cart-wrapper .header-minicart .skip-cart .count:after {
        display: none;
    }
    header .page-header-top .top-store {
        min-height: initial;
    }
    .page-header-bottom .page-header-container .logo {
        margin: 5px 0;
    }
}

